.breadcrumb {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.breadcrumb-item {
  color: #03045e;
  padding: 0 10px;
  font-size: 16px;
  cursor: default;
  transition: color 0.3s ease;

  &.current {
      color: #03045e;
      font-weight: bold;
      cursor: default;
  }
}

.breadcrumb-separator {
  color: #adb5bd;
  font-size: 18px;
}
